/* You can add global styles to this file, and also import other style files */
body {
    background: rgb(14, 14, 14);
    color: #fff;
    height: auto;
    font-family: Krub;
}

header {
    background: #111 url("https://images.unsplash.com/photo-1542688192-8049eb6d889c?ixlib=rb-0.3.5&s=958218b4d553ff667255825e1554ca8e&auto=format&fit=crop&w=2134&q=80");
    height: 570px;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-x: 50%; 
    background-position-y: -300px;
    
}

header h1 {
    font-family: Anton;
    font-size: 7rem;
    line-height: 7rem;
    margin: 0;
    padding-top: 200px;
}

.container {
    width: 96%;
    margin: 0 auto;
    background: #111;
}

.items {
 column-count: 2;
  width: 90%;
  margin: 0 auto;  
}

.item {
    width: 100%;
    margin: 0 auto;
    display: inline-block; /* avoids columns to break*/
}

.item img {
    width: 100%;
}

.payment {
    position: relative;

}
.paymentForm {
    position: absolute;
    width: 90%;
    background: rgba(255, 255, 255, 0.6);
    padding: 10px;
    bottom: 20px;
    left: 20px;
    -webkit-box-shadow: 0px 10px 37px -19px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 37px -19px rgba(0,0,0,0.75);
box-shadow: 0px 10px 37px -19px rgba(0,0,0,0.75);
}
.paymentForm input {
   padding: 10px 0px;
   width: 100%;
   background: none;
   display: block;
   font-size: 1rem;
   border: none;
   border-bottom: 1px solid rgb(255, 197, 5);
   margin-bottom: 10px;
   color: #111;
   text-indent: 10px;
}
input[type="submit"]{
    background: rgb(255, 197, 5);
    padding: 10px;
    color: #111;
    text-indent: 0;
    border-bottom: 1px solid rgb(218, 167, 0);
    margin-top: 10px;
    text-align: left;
    width: auto;
}
.item h3 {
    font-family: Anton;
    font-size: 2.5rem;
    border-top: 1px solid #222;
    margin-top: 20px;
}